<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922558249034-u0emsj9q79jn48dgc5o2siaeoli14kmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922558249034-u0emsj9q79jn48dgc5o2siaeoli14kmu</string>
	<key>API_KEY</key>
	<string>AIzaSyAN043YXj_jFTMhFAL5_UBN5Vj01cZGMiA</string>
	<key>GCM_SENDER_ID</key>
	<string>922558249034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pw.tereshkov.stock-portfolio-tracker.dev</string>
	<key>PROJECT_ID</key>
	<string>stock-portfolio-tracker-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-portfolio-tracker-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:922558249034:ios:9dd8a50e4a483f12620eb3</string>
</dict>
</plist>
